
button{
    border-radius: 20px;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2); 
    transform: scale(1.1);
}

#graph {
    width: 100%;
    height: 400px;
}
#graph:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#calculator {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 94.5%;
    margin-left: 10%;
}

.reset-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.graphic-container {
    display: none;
}

.graphic-container.active {
    display: flex;
}

:root{
    --bs-dark: #000;
  }
  
  .form-group input,.form-control{
    border-radius: 15px;
  }

